#homepage{
	background-image: url("https://static.wixstatic.com/media/b9c769_454ae3f3a96845d080d5c54bc0dec79d~mv2.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#workpage{
	background-color: #fefae6;
	background-repeat: no-repeat;
	background-size: cover;
}

#contactpage{
	background-color: #fefae6;
	background-repeat: no-repeat;
	background-size: cover;
}

#two-dpage{
	background-color: #fefae6;
	background-repeat: no-repeat;
	background-size: cover;
}

nav{
	text-align: center;
	width: 100%;
	margin-top: 4%;

}

nav a:hover{
	color:black;
	text-decoration: none;
}

nav ul{
	list-style-type: none;
}

li a { 
	text-decoration: none; 
	color:grey;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 25px;
}

li{
	display:inline;
	padding:50px;
	text-decoration: none;
}

#logo{
	margin-left:1%;
	margin-top: 1%;
	margin-bottom: -5%
}

#personal_pic{
	width: 340px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 4%;
}

#selfie{
	border-radius: 15px;
}

#contact_pic{
	width:280px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 4%;
}

.line1{
	color:grey;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 55px;
	margin-left: 33%;
}

.line2{
	color:grey;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 60px;
	margin-left: 45%;
	padding-top: 2%;
}

#intro{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 25px;
	color:black;
}

#app{
	margin-top: 4%;
	margin-bottom: 4%;
}

#endname{
	text-align: center;
	font-size: 12px;
	color:black;
}

#contactinfo{
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	font-size: 30px;
	color:grey;
}


#modelling_pic{
	padding-right: 6%;
	margin-top: 2.5%;
}


#modelling_pic:hover{
	transform:scale(1.05);

}

#graphic_pic:hover{
	transform:scale(1.05);
}

#threedtext{
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	font-size: 30px;
	color:grey;
	margin-left: -36%;
	margin-right: 5%;
	margin-top: 2%;

}

#twodtext{
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	font-size: 30px;
	color:grey;
	margin-left: 42%;
	margin-top: -2%;
}

#threedlogo{
	margin-left: 22px;
	margin-top: 22px;
	margin-bottom: -68px;


}

#twodlogo{
	margin-left: 22px;
	margin-top: 22px;
	margin-bottom: -68px;
}

#wukong{
	margin-bottom: 6%;
	margin-top: 3%;
	margin-left: -2%;
}

#tuantuan{
	margin-top: 5%;
	margin-left: 2%;
	margin-left: 2%;
}

#palace{
	margin-top: 6%;
}

#pic1{
	margin-top: 4%;
	margin-right: 6%;
	margin-bottom: 4%;
}

#pic2{
	margin-top: 4%;
	margin-right: 6%;
}

#pic3{
	margin-top: 4%;
}

#wukonglogo{
	margin-left: 22px;
	margin-top: 22px;
	margin-bottom: 68px;
}


#icon{
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	margin-top: -10%;

}




















