.title{
	font-family: 'Anton', sans-serif;
}

#topContent{
	vertical-align:middle;
	text-align:center;
	width:100%; 
	margin-top:4%;
}

nav ul{
	list-style-type: none;
	margin:0;
	margin-left:-2%;
	margin:auto;

}

li a { 
	text-decoration: none; 
	color:white;
	font-family: 'Open Sans', sans-serif;
}

li{
	display:inline;
	background-color: purple;
	padding:5px;
	text-decoration: none;
}

.lowerContent{
	text-align:center;
	margin:auto;
	margin-top:3%;
}

.GalleryImage{
	margin-top: 2%;
}

.homeimage{
	margin-top:2%;
}


.introduction{
	width:80%;
	margin:auto;
}

p1{
	font-family: 'Open Sans', sans-serif;
}