
body{
	background-image: url("http://2.bp.blogspot.com/-hptdv_4UQr0/URkTQ7idnuI/AAAAAAAAA6s/-VAs370WNVA/s1600/grazingsheep.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


#Name{
	color:green;
	text-shadow: 2px 2px 4px #000000;
	font-size: 80px;
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	font-weight: lighter
}

#introduction{
	color:black;
}
.numbers{
	color:red;
	font-size: 30px;
}

#hint{
	text-align: center;
}


h2{
	text-align: center;
	font-weight: bold;
}

h3{
	color:black;
}

h4{
	color:white;
	text-align: center;
	font-weight: lighter;
}

#pigbrain {
  border-radius: 10px;
}


